
.header-box {
    width: 100%;
    height: 1.5rem;
    background: #01486f;
    position: absolute;
}

.head-photo {
    width: 0.58rem;
    height: 0.58rem;
    margin: 0.47rem 0.25rem;
    position: absolute;
    background: url("../images/photo_03.png") no-repeat;
    background-size: contain;
}

.search-box {
    width: 4.25rem;
    height: 0.4rem;
    border-radius: 0.2rem;
    background: #1c5b7e;
    margin-top: 0.55rem;
    margin-left: 1.62rem;
    border: #b3c8d4 0.04rem solid;;
}

.point {
    width: 0.16rem;
    height: 0.15rem;
    background: url("../images/point_03.png") no-repeat center;
    float: left;
    position: absolute;
    margin: 0.13rem 0.06rem;
}

.search-box input {
    height: 0.26rem;
    width: 3.18rem;
    position: absolute;
    top: 0.64rem;
    left: 1.9rem;
    background: #1c5b7e;
    border: none;
}

.search-box img {
    float: right;
    width: 0.66rem;
    height: 0.33rem;
    margin-right: 0.06rem;
    margin-top: 0.04rem;
}

.more {
    width: 0.5rem;
    height: 0.15rem;
    top: 0.7rem;
    left: 6.7rem;
    position: absolute;
    background: url("../images/QQ图片20180613170333.png") no-repeat;
    background-size: contain;
}

.main-box {
    width: 100%;
    height: 3.28rem;
    top: 1.505rem;
    position: absolute;
    background: #01486f url("../images/kenzo_23.png") no-repeat;
    background-size: 100% 100%;
    opacity: 0.4;
}

.square {
    width: 2.6rem;
    height: 1.25rem;
    border-radius: 0.1rem;
    border: #c4b434 0.01rem solid;
    background: white;
    opacity: 0.92;
    top: 1.2rem;
    left: 1.85rem;
    position: absolute;
    z-index: 7;
}

.arrow {
    width: 0.1rem;
    height: 0.1rem;
    transform: rotate(45deg);
    position: absolute;
    background: white;
    opacity: 0.92;
    top: 1.15rem;
    left: 2.02rem;
    border-left: #c4b434 0.01rem solid;
    border-top: #c4b434 0.01rem solid;
    z-index: 8;
}

#header-filter {
    margin-top: 0.2rem;
}

#header-filter label {
    float: left;
    font-size: 0.2rem;
}

#header-filter input {
    margin-left: 0.05rem;
    vertical-align: bottom;
}

#header-divider {
    width: 2.33rem;
    height: 1px;
    background: #d3d3d3;
    float: left;
    margin-left: 0.12rem;
    margin-top: 0.18rem;
    margin-bottom: 0.1rem;
    position: relative;
}

#header-divider:before {
    content: "";
    position: absolute;
    left: 0;
    top: -0.02rem;
    width: 0.05rem;
    height: 0.05rem;
    background: #585857;
    border-radius: 50%;
}

#header-divider:after {
    content: "";
    position: absolute;
    left: 2.33rem;
    top: -0.02rem;
    width: 0.05rem;
    height: 0.05rem;
    background: #585857;
    border-radius: 50%;
}

.works-box {
    width: 1.74rem;
    height: 3.27rem;
    position: absolute;
    top: 1.35rem;
    left: 5.54rem;
    background: #0f3949;
    opacity: 0.7;
    border-radius: 10px;
    z-index: 3;
    display: none;
}

.arrow2 {
    width: 0.1rem;
    height: 0.1rem;
    transform: rotate(45deg);
    position: absolute;
    background: #0f3949;
    opacity: 0.7;
    top: 1.305rem;
    left: 6.95rem;
}

.display1 {
    width: 1.5rem;
    height: 0.65rem;
    margin: 0.15rem auto;
}

.title1 {
    font-size: 0.12rem;
    width: 100%;
    height: 0.25rem;
    line-height: 0.25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #d5d9db;
}

.line {
    width: 0.68rem;
    height: 1px;
    background: #707577;
    margin-left: 0.65rem;
    margin-top: 0.04rem;
    position: absolute;
}

.line:after {
    content: "";
    width: 0.12rem;
    height: 1px;
    background: #f2c119;
    left: 0.68rem;
    position: absolute;
}

.content1 {
    font-size: 0.12rem;
    width: 1rem;
    height: 0.25rem;
    line-height: 0.25rem;
    padding-top: 0.06rem;
    left: 0.72rem;
    position: absolute;
    color: #d5d9db;
}

.dashed1 {
    width: 1.23rem;
    border: 1px #707577 dashed;
    top: 0.76rem;
    left: 0.32rem;
    position: absolute;
}

.display2 {
    width: 1.5rem;
    height: 0.65rem;
    margin: 0.15rem auto;
}

.title2 {
    font-size: 0.12rem;
    width: 100%;
    height: 0.25rem;
    line-height: 0.25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #d5d9db;
}

.line {
    width: 0.68rem;
    height: 1px;
    background: #707577;
    margin-left: 0.65rem;
    margin-top: 0.04rem;
    position: absolute;
}

.line:after {
    content: "";
    width: 0.12rem;
    height: 1px;
    background: #f2c119;
    left: 0.68rem;
    position: absolute;
}

.content2 {
    font-size: 0.12rem;
    width: 1rem;
    height: 0.25rem;
    line-height: 0.25rem;
    padding-top: 0.06rem;
    left: 0.72rem;
    position: absolute;
    color: #d5d9db;
}

.dashed2 {
    width: 1.23rem;
    border: 1px #707577 dashed;
    top: 1.57rem;
    left: 0.32rem;
    position: absolute;
}

.display3 {
    width: 1.5rem;
    height: 0.65rem;
    margin: 0.15rem auto;
}

.title3 {
    font-size: 0.12rem;
    width: 100%;
    height: 0.25rem;
    line-height: 0.25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #d5d9db;
}

.line {
    width: 0.68rem;
    height: 1px;
    background: #707577;
    margin-left: 0.65rem;
    margin-top: 0.04rem;
    position: absolute;
}

.line:after {
    content: "";
    width: 0.12rem;
    height: 1px;
    background: #f2c119;
    left: 0.68rem;
    position: absolute;
}

.content3 {
    font-size: 0.12rem;
    width: 1rem;
    height: 0.25rem;
    line-height: 0.25rem;
    padding-top: 0.06rem;
    left: 0.72rem;
    position: absolute;
    color: #d5d9db;
}

.dashed3 {
    width: 1.23rem;
    border: 1px #707577 dashed;
    top: 2.36rem;
    left: 0.32rem;
    position: absolute;
}

.display4 {
    width: 1.5rem;
    height: 0.65rem;
    margin: 0.15rem auto;
}

.title4 {
    font-size: 0.12rem;
    width: 100%;
    height: 0.25rem;
    line-height: 0.25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #d5d9db;
}

.line {
    width: 0.68rem;
    height: 1px;
    background: #707577;
    margin-left: 0.65rem;
    margin-top: 0.04rem;
    position: absolute;
}

.line:after {
    content: "";
    width: 0.12rem;
    height: 1px;
    background: #f2c119;
    left: 0.68rem;
    position: absolute;
}

.content4 {
    font-size: 0.12rem;
    width: 1rem;
    height: 0.25rem;
    line-height: 0.25rem;
    padding-top: 0.06rem;
    left: 0.72rem;
    position: absolute;
    color: #d5d9db;
}

.dashed4 {
    width: 1.23rem;
    border: 1px #707577 dashed;
    top: 3.16rem;
    left: 0.32rem;
    position: absolute;
}

.pic-box {
    width: 5.89rem;
    height: 3.07rem;
    background: url("../images/kenzo_23.png") no-repeat;
    background-size: 100% 100%;
    margin: 2.21rem 0.8rem;
    position: absolute;
    z-index: 2;
}

.collection-box {
    width: 4.02rem;
    height: 1.42rem;
    background: url("../images/box.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 3.16rem;
    z-index: 4;
    left: 0.62rem;
}

.yellow-box1 {
    width: 0.36rem;
    height: 0.59rem;
    background: #f2c119;
    position: absolute;
    top: 3.64rem;
    left: 0.31rem;
    opacity: 0.41;
}

.yellow-box2 {
    width: 0.26rem;
    height: 0.26rem;
    background: #f2c119;
    position: absolute;
    top: 3.5rem;
    left: 0.18rem;
    opacity: 0.27;
}

.blue-box1 {
    width: 0.34rem;
    height: 2.0rem;
    background: #1dd473;
    position: absolute;
    top: 2.71rem;
    left: 6.69rem;
    opacity: 0.32;
}

.bluew-box2 {
    width: 0.49rem;
    height: 0.95rem;
    position: absolute;
    top: 3.39rem;
    left: 6.69rem;
    background: url("../images/bluebox.gif") no-repeat;
    background-size: 100% 100%;
}

.blue-box2-pic1 {
    width: 0.1rem;
    height: 0.1rem;
    background: white;
    border-radius: 50%;
    margin: 0.06rem auto;
}

.blue-box2-pic2 {
    width: 0.1rem;
    height: 0.1rem;
    background: white;
    border-radius: 50%;
    margin: 0.06rem auto;
}

.blue-box2-pic3 {
    width: 0.1rem;
    height: 0.1rem;
    background: white;
    border-radius: 50%;
    margin: 0.06rem auto;
}

.bluebox2-pic4 {
    width: 0.08rem;
    height: 0.08rem;
    background: #1fb4f5;
    border-radius: 50%;
    border: 2px white solid;
    margin: 0.06rem auto;
}

.bluewbox2-number8 {
    width: 0.43rem;
    height: 0.15rem;
    margin: 0.02rem auto;
    font-size: 0.15rem;
    line-height: 0.25rem;
    color: white;
    text-align: center;
}

.white-box {
    width: 5.51rem;
    height: 2.33rem;
    background: url("../images/QQ图片20180614182748.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 4.73rem;
    left: 0.97rem;
    z-index: 5;
}

.white-box-left {
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    margin-top: 0.2rem;
    margin-left: 0.3rem;
}

.date {
    width: 1.26rem;
    height: 0.38rem;
    font-size: 0.12rem;
    background: #07b0d5;
    border: #51defd 2px solid;
    border-radius: 30px;
    left: 0.14rem;
    position: absolute;
    text-align: center;
    color: white;
}

.white-box-left a {
    height: 1.53rem;
    font-size: 0.26rem;
    line-height: 0.3rem;
    text-decoration: none;
    position: absolute;
    top: 0.5rem;
    color: #545454;
}

.white-box-mid {
    width: 0.9rem;
    height: 1.9rem;
    position: absolute;
    margin-top: 0.03rem;
    left: 2.74rem;
}

.number1 {
    font-size: 0.4rem;
    line-height: 0.75rem;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    color: #40d1f1;
}

.number2 {
    font-size: 0.4rem;
    line-height: 0.75rem;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    color: #f0c310;
}

.number3 {
    font-size: 0.4rem;
    line-height: 0.75rem;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    color: #32d486;
}

.white-box-right {
    width: 1.51rem;
    height: 1.92rem;
    background: url("../images/airtle_15.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0.2rem;
    left: 3.82rem;
}

.background {
    width: 100%;
    height: 3.25rem;
    top: 4.78rem;
    position: absolute;
    background: #f4f4f4;
}

.good-article1 {
    width: 100%;
    height: 9.86rem;
    background: #f4f4f4;
    position: absolute;
    top: 8.03rem;
}

.good-top {
    width: 3.33rem;
    height: 0.39rem;
    background: url("../images/daohang_18.png") no-repeat;
    background-size: 100% 100%;
    margin-left: 0.12rem;
}

.article-kind {
    width: 6.5rem;
    height: 0.53rem;
    background: #f4f4f4;
    margin-top: 0.25rem;
    margin-left: 0.12rem;
}

.article-kind1 {
    width: 1.73rem;
    height: 0.47rem;
    border-radius: 20px;
    border: 2px #ebc243 solid;
    float: left;
}

.article-kind2 {
    width: 1.73rem;
    height: 0.47rem;
    border-radius: 20px;
    border: 2px #40d1f1 solid;
    margin-left: 0.4rem;
    float: left;
}

.article-kind3 {
    width: 1.73rem;
    height: 0.47rem;
    border-radius: 20px;
    border: 2px #5bdb9d solid;
    margin-left: 0.4rem;
    float: left;
}

.inside1 {
    width: 1.69rem;
    height: 0.43rem;
    background: #ebc243;
    border-radius: 20px;
    margin: 0.02rem auto;
}

.inside2 {
    width: 1.69rem;
    height: 0.43rem;
    background: #40d1f1;
    border-radius: 20px;
    margin: 0.02rem auto;
}

.inside3 {
    width: 1.69rem;
    height: 0.43rem;
    background: #5bdb9d;
    border-radius: 20px;
    margin: 0.02rem auto;
}

.inside-word {
    width: 1rem;
    height: 0.23rem;
    font-size: 0.12rem;
    color: white;
    margin-left: 0.2rem;
    padding-top: 0.06rem;
}

.down1 {
    width: 0.23rem;
    height: 0.23rem;
    background: url("../images/down2_22.png") no-repeat;
    background-size: 100% 100%;
    top: 0.8rem;
    left: 1.5rem;
    position: absolute;
}

.down2 {
    width: 0.23rem;
    height: 0.23rem;
    background: url("../images/down2_24.png") no-repeat;
    background-size: 100% 100%;
    top: 0.8rem;
    left: 3.7rem;
    position: absolute;
}

.down3 {
    width: 0.23rem;
    height: 0.23rem;
    background: url("../images/down_26.png") no-repeat;
    background-size: 100% 100%;
    top: 0.8rem;
    left: 5.9rem;
    position: absolute;
}

.square3 {
    width: 2.7rem;
    height: 1.8rem;
    border-radius: 0.1rem;
    border: #c4b434 0.01rem solid;
    background: white;
    opacity: 0.92;
    top: 1.35rem;
    left: 0.61rem;
    position: absolute;
    z-index: 7;
}

.arrow3 {
    width: 0.1rem;
    height: 0.1rem;
    transform: rotate(45deg);
    position: absolute;
    background: white;
    opacity: 0.92;
    top: 1.3rem;
    left: 0.9rem;
    border-left: #c4b434 0.01rem solid;
    border-top: #c4b434 0.01rem solid;
    z-index: 8;
}

.square-kind {
    width: 2.38rem;
    height: 1.22rem;
    background: url("../images/zpfl_15.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 0.28rem;
    margin-left: 0.14rem;
}

.display-show {
    width: 7.03rem;
    height: 8.28rem;
    margin: 0.4rem auto;
}

.show1 {
    width: 3.4rem;
    height: 4rem;
    background: #f4f4f4;
    float: left;
    border-radius: 5px;
}

.show2 {
    width: 3.4rem;
    height: 4rem;
    background: #f4f4f4;
    float: left;
    margin-left: 0.22rem;
    border-radius: 5px;
}

.show3 {
    width: 3.4rem;
    height: 4rem;
    background: #f4f4f4;
    float: left;
    margin-top: 0.24rem;
    border-radius: 5px;
}

.show4 {
    width: 3.4rem;
    height: 4rem;
    background: #f4f4f4;
    float: left;
    margin-top: 0.24rem;
    margin-left: 0.22rem;
    border-radius: 5px;
}

.show-cover1 {
    width: 3.4rem;
    height: 2.38rem;
    background: url("../images/cover1_17.png") no-repeat;
    background-size: 100% 100%;
}

.show-mid {
    width: 3.4rem;
    height: 1.3rem;
}

.show-desc1 {
    width: 2.32rem;
    height: 1.3rem;
    background: url("../images/desc_23.png") no-repeat;
    background-size: 100% 100%;
    float: left;
}

.show-play1 {
    width: 1.07rem;
    height: 1.29rem;
    background: url("../images/videoplay_22.png") no-repeat;
    background-size: 100% 100%;
    float: left;
}

.show-star1 {
    width: 3.4rem;
    height: 0.36rem;
    background: url("../images/star_25.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 5.2rem;
}

.show-cover2 {
    width: 3.4rem;
    height: 2.38rem;
    background: url("../images/cover2_19.png") no-repeat;
    background-size: 100% 100%;
}

.show-mid {
    width: 3.4rem;
    height: 1.3rem;
}

.show-desc2 {
    width: 2.32rem;
    height: 1.3rem;
    background: url("../images/desc_23.png") no-repeat;
    background-size: 100% 100%;
    float: left;
}

.show-play2 {
    width: 1.07rem;
    height: 1.29rem;
    background: url("../images/videoplay_22.png") no-repeat;
    background-size: 100% 100%;
    float: left;
}

.show-star2 {
    width: 3.4rem;
    height: 0.36rem;
    background: url("../images/star_25.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 5.2rem;
}

.show-cover3 {
    width: 3.4rem;
    height: 2.38rem;
    background: url("../images/cover3_27.png") no-repeat;
    background-size: 100% 100%;
}

.show-mid {
    width: 3.4rem;
    height: 1.3rem;
}

.show-desc3 {
    width: 2.32rem;
    height: 1.3rem;
    background: url("../images/desc_23.png") no-repeat;
    background-size: 100% 100%;
    float: left;
}

.show-play3 {
    width: 1.07rem;
    height: 1.29rem;
    background: url("../images/videoplay_22.png") no-repeat;
    background-size: 100% 100%;
    float: left;
}

.show-star3 {
    width: 3.4rem;
    height: 0.36rem;
    background: url("../images/star_25.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 9.45rem;
}

.show-cover4 {
    width: 3.4rem;
    height: 2.38rem;
    background: url("../images/cover4_29.png") no-repeat;
    background-size: 100% 100%;
}

.show-mid {
    width: 3.4rem;
    height: 1.3rem;
}

.show-desc4 {
    width: 2.32rem;
    height: 1.3rem;
    background: url("../images/desc_23.png") no-repeat;
    background-size: 100% 100%;
    float: left;
}

.show-play4 {
    width: 1.07rem;
    height: 1.29rem;
    background: url("../images/videoplay_22.png") no-repeat;
    background-size: 100% 100%;
    float: left;
}

.show-star4 {
    width: 3.4rem;
    height: 0.36rem;
    background: url("../images/star_25.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 9.45rem;
}

.air {
    width: 100%;
    height: 1.2rem;
    background: #f4f4f4;
    position: absolute;
    top: 17.85rem;
}

.good-article2 {
    width: 100%;
    height: 9rem;
    background: #f4f4f4;
    position: absolute;
    top: 19.05rem;
}

.good-top2 {
    width: 5.56rem;
    height: 0.35rem;
    background: url("../images/top2_15.png") no-repeat;
    background-size: 100% 100%;
    margin-left: 0.12rem;
}

.article-show {
    width: 7.02rem;
    height: 6.24rem;
    margin: 0.4rem auto;
}

.show5 {
    width: 7.02rem;
    height: 3rem;
    background: #f4f4f4;
}

.show6 {
    width: 7.02rem;
    height: 3rem;
    background: #f4f4f4;
    margin-top: 0.24rem;
}

.show-cover5 {
    width: 2.4rem;
    height: 3rem;
    background: url("../images/cover5_17.png") no-repeat;
    background-size: 100% 100%;
    float: left;
}

.show-border1 {
    width: 4.62rem;
    height: 3rem;
    float: left;
}

.show-desc5 {
    width: 4.62rem;
    height: 2.06rem;
    background: #f4f4f4;
}

.show-desc5 p:nth-child(1) {
    font-size: 0.24rem;
    line-height: 20px;
    padding-top: 0.24rem;
    padding-left: 0.2rem;
    color: #7dc6ea;
}

.show-desc5 p:nth-child(2) {
    font-size: 0.12rem;
    line-height: 0.2rem;
    padding-top: 0.1rem;
    padding-left: 0.2rem;
}

.show-desc5 p:nth-child(3) {
    font-size: 0.24rem;
    line-height: 0.3rem;
    padding: 0.1rem 0.2rem;
}

.show-line {
    width: 4.05rem;
    border: 1px #b0b0b0 dashed;
    margin-left: 0.2rem;
}

.show-star5 {
    width: 4.62rem;
    height: 0.85rem;
    background: url("../images/star5_19.png") no-repeat;
    background-size: 100% 100%;
}

.show-cover6 {
    width: 2.4rem;
    height: 3rem;
    background: url("../images/cover5_17.png") no-repeat;
    background-size: 100% 100%;
    float: left;
}

.show-border2 {
    width: 4.62rem;
    height: 3rem;
    float: left;
}

.show-desc6 {
    width: 4.62rem;
    height: 2.06rem;
    background: #f4f4f4;
}

.show-desc6 p:nth-child(1) {
    font-size: 0.24rem;
    line-height: 20px;
    padding-top: 0.24rem;
    padding-left: 0.2rem;
    color: #7dc6ea;
}

.show-desc6 p:nth-child(2) {
    font-size: 0.12rem;
    line-height: 0.2rem;
    padding-top: 0.1rem;
    padding-left: 0.2rem;
}

.show-desc6 p:nth-child(3) {
    font-size: 0.24rem;
    line-height: 0.3rem;
    padding: 0.1rem 0.2rem;
}

.show-line {
    width: 4.05rem;
    border: 1px #b0b0b0 dashed;
    margin-left: 0.2rem;
}

.show-star6 {
    width: 4.62rem;
    height: 0.85rem;
    background: url("../images/star5_19.png") no-repeat;
    background-size: 100% 100%;
}

.good-article3 {
    width: 100%;
    height: 12.54rem;
    background: white;
    position: absolute;
    top: 28rem;
}

.good-top3 {
    width: 5.56rem;
    height: 0.35rem;
    background: url("../images/top3_23.png") no-repeat;
    background-size: 100% 100%;
    margin-left: 0.12rem;
}

.people-box {
    width: 7.02rem;
    height: 9.54rem;
    margin: 0 auto;
}

.people1 {
    width: 3.4rem;
    height: 4.75rem;
    float: left;
}

.people2 {
    width: 3.4rem;
    height: 4.75rem;
    margin-left: 0.22rem;
    float: left;
}

.people-box-line:before {
    content: "";
    width: 2px;
    height: 2px;
    background: #696969;
    border-radius: 50%;
}

.people-box-line {
    width: 6.67rem;
    height: 0.13rem;
    background: url("../images/lineline_27.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 5.08rem;
    left: 0.44rem;
    float: left;
}

.people3 {
    width: 3.4rem;
    height: 4.75rem;
    float: left;
    margin-top: 0.1rem;
}

.people4 {
    width: 3.4rem;
    height: 4.75rem;
    margin-left: 0.22rem;
    margin-top: 0.1rem;
    float: left;
}

.people-pic1 {
    width: 3.4rem;
    height: 3.2rem;
    background: url("../images/people_25.png") no-repeat;
    background-size: 100% 100%;
}

.people-name1 {
    width: 3.4rem;
    height: 1.1rem;
}

.people-name1 p:nth-child(1) {
    font-size: 0.2rem;
    text-align: center;
    color: #1fb4f5;
}

.people-name1 p:nth-child(2) {
    font-size: 0.24rem;
    margin: 0 0.7rem;
}

.people-name-line {
    width: 2.5rem;
    border: #a7a7a7 1px dashed;
    margin: 0 0.45rem;
}

.people-like {
    width: 3.4rem;
    height: 0.37rem;
    background: url("../images/like_32.png") no-repeat;
    background-size: 100% 100%;
}

.people-pic2 {
    width: 3.4rem;
    height: 3.2rem;
    background: url("../images/people2_27.png") no-repeat;
    background-size: 100% 100%;
}

.people-name2 {
    width: 3.4rem;
    height: 1.1rem;
}

.people-name2 p:nth-child(1) {
    font-size: 0.2rem;
    text-align: center;
    color: #1fb4f5;
}

.people-name2 p:nth-child(2) {
    font-size: 0.24rem;
    margin: 0 0.7rem;
}

.people-name-line {
    width: 2.5rem;
    border: #a7a7a7 1px dashed;
    margin: 0 0.45rem;
}

.people-like {
    width: 3.4rem;
    height: 0.37rem;
    background: url("../images/like_32.png") no-repeat;
    background-size: 100% 100%;
}

.people-pic3 {
    width: 3.4rem;
    height: 3.2rem;
    background: url("../images/people_25.png") no-repeat;
    background-size: 100% 100%;
}

.people-name3 {
    width: 3.4rem;
    height: 1.1rem;
}

.people-name3 p:nth-child(1) {
    font-size: 0.2rem;
    text-align: center;
    color: #1fb4f5;
}

.people-name3 p:nth-child(2) {
    font-size: 0.24rem;
    margin: 0 0.7rem;
}

.people-name-line {
    width: 2.5rem;
    border: #a7a7a7 1px dashed;
    margin: 0 0.45rem;
}

.people-like {
    width: 3.4rem;
    height: 0.37rem;
    background: url("../images/like_32.png") no-repeat;
    background-size: 100% 100%;
}

.people-pic4 {
    width: 3.4rem;
    height: 3.2rem;
    background: url("../images/people2_27.png") no-repeat;
    background-size: 100% 100%;
}

.people-name4 {
    width: 3.4rem;
    height: 1.1rem;
}

.people-name4 p:nth-child(1) {
    font-size: 0.2rem;
    text-align: center;
    color: #1fb4f5;
}

.people-name4 p:nth-child(2) {
    font-size: 0.24rem;
    margin: 0 0.7rem;
}

.people-name-line {
    width: 2.5rem;
    border: #a7a7a7 1px dashed;
    margin: 0 0.45rem;
}

.people-like {
    width: 3.4rem;
    height: 0.37rem;
    background: url("../images/like_32.png") no-repeat;
    background-size: 100% 100%;
}

.become {
    width: 6.65rem;
    height: 1.23rem;
    background: url("../images/become_39.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 10.2rem;
    left: 0.425rem;
}

.issue {
    width: 7.02rem;
    height: 14.74rem;
    position: absolute;
    top: 40rem;
    left: 0.24rem;
}

.good-top4 {
    width: 7.02rem;
    height: 0.72rem;
    background: url("../images/top4_14.png") no-repeat;
    background-size: 100% 100%;
}

.issue-wall {
    width: 7.02rem;
    height: 6.95rem;
    background: url("../images/wall_42.png") no-repeat;
    background-size: 100% 100%;
    z-index: 1;
}

.issue-window {
    width: 7.02rem;
    height: 6.21rem;
    background: url("../images/pagewall_17.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0.7rem;
}

.issue-mid {
    width: 7.02rem;
    height: 1.85rem;
    background: #181518;
    opacity: 0.72;
    position: absolute;
    top: 5.81rem;
}

.issue-mid-left {
    width: 5.56rem;
    height: 1.85rem;
    float: left;
}

.issue-mid-left-desc1 {
    font-size: 0.3rem;
    text-decoration: none;
    color: white;
    line-height: 0.8rem;
    margin-left: 0.27rem;
}

.issue-line {
    width: 0.4rem;
    border: #999999 1px solid;
    margin-left: 0.27rem;
}

.issue-mid-left-desc2 {
    font-size: 0.25rem;
    text-decoration: none;
    line-height: 0.8rem;
    color: #999999;
    margin-left: 0.27rem;
}

.issue-mid-right {
    width: 1.45rem;
    height: 1.85rem;
    float: left;
}

.issue-date {
    width: 1.45rem;
    height: 0.6rem;
    font-size: 0.35rem;
    padding-top: 0.2rem;
    color: #d6a81f;
}

.issue-line2 {
    width: 1.2rem;
    border: 1px #999999 dotted;
    margin: 0 auto;
}

.hotpot {
    width: 1.46rem;
    height: 0.89rem;
    background: url("../images/hotpot_14.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 0.08rem;
}

.issue-bottom {
    width: 7.02rem;
    height: 7.02rem;
}

.issue-box1 {
    width: 3.51rem;
    height: 3.51rem;
    background: url("../images/issuebox2_17.png") no-repeat;
    background-size: 100% 100%;
    float: left;
}

.issue-box2 {
    width: 3.3rem;
    height: 3.51rem;
    float: left;
}

.issue-box3 {
    width: 3.51rem;
    height: 3.51rem;
    float: left;
    background: #364854;
}

.issue-box4 {
    width: 3.51rem;
    height: 3.51rem;
    background: url("../images/issuebox_21.png") no-repeat;
    background-size: 100% 100%;
    float: left;
}

.guide1 {
    width: 2.44rem;
    height: 0.72rem;
    font-size: 0.3rem;
    color: #777777;
    margin-left: 0.24rem;
    margin-top: 0.28rem;
}

.guide2 {
    width: 2.44rem;
    height: 0.72rem;
    font-size: 0.3rem;
    color: #eeeeee;
    margin-left: 0.24rem;
    margin-top: 0.28rem;
}

.box-line {
    width: 0.3rem;
    border: 1px #d7d6d6 solid;
    margin: 0.15rem 0.24rem;
}

.box-desc {
    width: 3.02rem;
    height: 0.96rem;
    font-size: 0.25rem;
    color: #c7c6c6;
    margin-left: 0.24rem;
}

.box-date {
    width: 1.2rem;
    height: 0.36rem;
    font-size: 0.4rem;
    color: #38acf5;
    margin-left: 0.24rem;
    margin-top: 0.6rem;
}

.brand {
    width: 7.02rem;
    height: 5.8rem;
    position: absolute;
    top: 55.8rem;
    left: 0.24rem;
}

.brand img {
    width: 7.02rem;
    height: 4.57rem;
}

.business {
    width: 3.19rem;
    height: 1.04rem;
    background: url("../images/business_45.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}

.bottom {
    width: 100%;
    height: 5.9rem;
    background: #2d2d2d;
    position: absolute;
    top: 62rem;
}

.logo1 {
    width: 1.29rem;
    height: 1.41rem;
    background: url("../images/logo_49.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 0.44rem;
    margin-left: 2.1rem;
    float: left;
}

.logo-line {
    width: 0.12rem;
    height: 1.41rem;
    background: url("../images/linee_51.png") no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-top: 0.44rem;
    margin-left: 0.3rem;
}

.logo2 {
    width: 1.29rem;
    height: 1.41rem;
    background: url("../images/logo_49.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 0.44rem;
    margin-left: 0.31rem;
    float: left;
}

.warning {
    width: 4.15rem;
    height: 0.6rem;
    font-size: 0.3rem;
    line-height: 0.4rem;
    color: #959393;
    position: absolute;
    top: 2.1rem;
    padding-left: 1.63rem;
}

.bottom-line {
    width: 2.4rem;
    border: #959393 1px dotted;
    position: absolute;
    top: 3.2rem;
    left: 2.5rem;
}

.information {
    width: 6rem;
    height: 0.6rem;
    font-size: 0.24rem;
    line-height: 0.4rem;
    text-align: center;
    position: absolute;
    top: 3.5rem;
    color: #959393;
    left: 0.8rem;
}

.chat {
    width: 2.2rem;
    height: 0.6rem;
    position: absolute;
    top: 4.7rem;
    left: 2.73rem;
}

.chat1 {
    width: 0.6rem;
    height: 0.6rem;
    background: url("../images/chat1_60.png") no-repeat;
    background-size: 100% 100%;
    float: left;
}

.chat2 {
    width: 0.6rem;
    height: 0.6rem;
    background: url("../images/chat1_62.png") no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-left: 0.05rem;
}

.chat3 {
    width: 0.6rem;
    height: 0.6rem;
    background: url("../images/chat1_64.png") no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-left: 0.05rem;
}
